
.experience-one {
	margin: 4%;
}
.experience-one h2{
	font-size: 3vw;
}
.experience-one h3{
	font-size: 2vw;
}
.experience-one ul{
	padding: 0.5%;
	font-size: 18px;
}

.experience-two {
	margin: 4%;
}
.experience-two h2{
	font-size: 3vw;
}
.experience-two h3{
	font-size: 2vw;
}
.experience-two ul{
	padding: 0.5%;
	font-size: 18px;
}

.experience-three {
	margin: 4%;
}
.experience-three h2{
	font-size: 3vw;
}
.experience-three h3{
	font-size: 2vw;
}
.experience-three ul{
	padding: 0.5%;
	font-size: 18px;
}